<launch>

<arg name="joints_controller_gains" default="[3.0, 3.0, 3.0, 3.0, 3.0, 3.0]" />

<group ns="meca500">

<node 
    name="robot_driver"  
    pkg="mecademic_robot_driver" 
    type="mecademic_robot_driver.py" 
    output="screen"
>
    <param name="high_performance" type="bool" value="True"/>
</node>

<node 
    name="robot_feedback"  
    pkg="mecademic_robot_driver" 
    type="mecademic_robot_feedback.py" 
    output="screen"
>
    <!--- TODO param name="num_joints" type="int" value="$(arg num_joints)"/-->
</node>

<node 
    name="joints_controller"  
    pkg="mecademic_robot_driver" 
    type="joints_controller" 
    output="screen"
>
    <rosparam param="gains" subst_value="true">$(arg joints_controller_gains)</rosparam>
</node>

</group>

</launch>